* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffe5b4;
}
nav {
  background-color: peachpuff;
  padding: 1rem;
  text-align: center;
}
header {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container {
  height: 56vh;
  width: 80vh;
  background-color: #ffafcc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
}
.box {
  height: 100%;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  z-index: -1;
}
@keyframes show {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
#btn {
  height: 2rem;
  width: 5rem;
  font-size: 20px;
  border: none;
  background-color: #78290f;
  border-radius: 5px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
